{% extends 'News/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load cache %}
{% cache 30 header %}
{% block content %}
<h1>Все новости ({{ news|length }})</h1>
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm"></a>Подписаться</p>
{% endif %}

<table>
    <thead>
    <tr>
        <th>Заголовок</th>
        <th>Дата публикации</th>
        <th>Текст</th>
        <th>Категории</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for post in category_news_list %}
    <tr>
        <td><a> {{ post.post_header|censor }}</a></td>
        <td>{{ post.post_in|date:"d.m.Y" }}</td>
        <td>{{ post.post_text|truncatewords:20 }}</td>
        <td>{% for category in post.category.all %}
            <a href="{% url 'category_list' category.id %}">{{ category }}</a>
            {% endfor %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% if page_obj.has_previous %}
<a href="?{% url_replace page=1 %}">1</a>
{% if page_obj.previous_page_number != 1 %}
...
<a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
{% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
<a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
{% if paginator.num_pages != page_obj.next_page_number %}
...
<a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
{% endif %}
{% endif %}

{% endblock content %}
{% endcache %}